
*{
    background-color: rgb(97, 195, 97);
    align-items: center;
    text-align: center;


}

#header{
    background: rgb(97, 195, 97);
    align-items: center;
    text-align: center;

}

#header .main-info {
    font-family: 'Courier New', monospace;
    text-align: center;
}

#header .main-info h2{
    font-size : 60px;
    color : rgb(55, 63, 55);
    margin-bottom: 20px;
    text-align: center;

}

#header .main-info h3{
    font-size : 30px;
    margin-bottom: 20px;
    color : rgb(55, 63, 55);
    font-family: Georgia, serif;    
    text-align: center;


}


#header .main-info a{
    font-size : 20px;
    margin-bottom: 20px;
    color : rgb(55, 63, 55);
    font-family: system-ui;    
    text-align: center;
}



#header .main-info p{
    font-size : 14px;
    margin-bottom: 20px;
    color : rgb(55, 63, 55);
    font-family: serif;    
    text-align: center;
}
#header h1 img {
    background: green;
    text-align: center;
    max-width: 25%;
    max-height: 25%;
    margin-left: 865;
    margin-right: auto;

}